@charset "UTF-8";
@font-face {
  font-family: GenYo;
  src: url("../font/GenYoGothicTW-N-01.ttf");
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: GenYo, Helvetica, sans-serif;
}

.banner {
  position: relative;
  height: auto;
  z-index: -100;
}
.banner img {
  max-width: 100%;
}
.banner span.title {
  position: absolute;
  right: 16%;
  top: 68%;
  color: #ffffff;
  z-index: 50;
  font-size: 1.5vw;
}

main section.place1 {
  position: relative;
  color: #1f1d1d;
}
main section.place1 div.title {
  font-size: 6.2vw;
  max-width: 75%;
  margin: 10% auto 5% auto;
  padding: 0 0.75vw;
  border-left: 0.8vw solid #bfb146;
}
main section.place1 div.subtitle {
  font-size: 5.2vw;
  margin-left: 20%;
  margin-top: 3%;
}
main section.place1 div.content01 {
  font-size: 1.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  background-repeat: no-repeat;
}
main section.place1 div.content01 div.contentimg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-wrap: wrap;
  max-width: 75%;
}
main section.place1 div.content01 div.contentimg img {
  padding: 1rem;
  width: 50%;
}
main section.place1 div.content01 div.contentimg img.templeimg {
  width: 100%;
}
main section.place1 div.content01 div.contentimg img:hover {
  transform: scale(1.02);
  overflow: hidden;
  transition: 0.8s ease-out;
}
main section.place1 div.content01 div.text {
  padding: 1rem;
  font-size: 1.5vw;
  width: 75%;
  line-height: 2;
  background-color: #f6bd60;
  border-radius: 1.5rem;
}
main section.place1 div.content02 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10% auto;
  flex-direction: row;
  max-width: 95%;
}
main section.place1 div.content02 img {
  width: 50%;
}
main section.place1 div.content02 img:hover {
  transform: scale(1.02);
  overflow: hidden;
  transition: 0.8s ease-out;
}
main section.place1 div.content02 div.text {
  padding: 5%;
  font-size: 1.5vw;
  width: 75%;
  line-height: 2;
  background-color: #f6bd60;
}
main div.where {
  margin: 10% auto 20% auto;
  padding: 8%;
  background-color: #f8f8f8;
  /*新增*/
}
main div.where div.google {
  font-size: 6.2vw;
  position: relative;
  margin-left: 2.5%;
  margin-bottom: 5%;
  padding: 0 1vw;
  border-left: 0.8vw solid #bfb146;
}
main div.where div.map {
  font-size: 6.2vw;
  position: relative;
  margin-left: 28%;
}
main div.where iframe {
  padding: 0 2.5%;
  max-width: 100%;
}
main button#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #bfb146;
  color: #ffffff;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}
main button#myBtn:hover {
  background-color: #e0bc99;
}

a {
  text-decoration: none;
}

p {
  color: #bfb146;
}

a:hover {
  text-decoration: none;
}

.t-center {
  text-align: center;
}

.nav_bar ul,
.nav_bar li {
  display: inline-block;
  float: right;
}

.logo {
  float: left;
  width: 10%;
  padding: 0.5vw;
}

.logo img {
  width: 170%;
}

.nav_bar .line {
  width: 3px;
  height: 2vw;
  background: #bfb146;
}

li {
  float: right;
  list-style: none;
  font-size: 1.5vw;
  margin: 15px;
}

.nav_bar ul a {
  display: inline-block;
  float: right;
  color: #bfb146;
}

ul.dropdown-content,
ul.dropdown-content li {
  display: block;
}

ul.dropdown-content {
  position: absolute;
  display: none;
  /* margin: 0; */
  padding-left: 0;
  background: #bfb146;
  border-radius: 15px;
  margin-left: -2vw;
  margin-top: 7vh;
}

ul.dropdown-content li {
  float: none;
}

ul.dropdown-content li a {
  color: #ffffff;
  float: none;
  /* text-align: center; */
}/*# sourceMappingURL=style.css.map */

footer .bg_picture{
  background-image:url("../img/footer.png") ;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #BFB146;
}

footer img{
  display: block;
  margin:auto;
}

footer img:nth-of-type(1){
  width: 50%;
}

footer img:nth-of-type(2){
  width: 100%;
}

footer img:nth-of-type(3){
  width: 50%;
}

footer .copyright{
  background: #E8DA87;
}

footer .copyright p{
  color:#000;
}